body{
    text-align: center;
    
}
#headlbl{
    font-size: 60px;
   font-family: 'Bangers', cursive;
}
#img2{
    width:421px;
    height: 288px;
}
#img3{
    width:421px;
    height: 288px;
}
#img4{
    width:421px;
    height: 288px;
}
#img5{
    width:421px;
    height: 288px;
}
#img6{
    width:421px;
    height: 288px;
}
#img7{
    width:421px;
    height: 288px;
}
#img8{
    width:421px;
    height: 288px;
}

